.navbar {
    padding: 16px 64px;
    border-bottom: 1px solid #677bbe;
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: rgba(16, 16, 16, 0.9);
    display: flex;
    justify-content: center;
    font-family: 'Bruno Ace SC', cursive;
}

.navbar-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo-list-name{
    color: whitesmoke;
    font-size: 42px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar-logo-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar-name{
    font-size: 34px;
    background: linear-gradient(90deg, #ffff00, #ffd000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
}

.nav-link:hover {
    background: linear-gradient(90deg, #ffff00, #ffd000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

