.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  /* height: 300vh; */
}

body::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/public/assets/pictures/main/background.jpg");
  background-size: scroller;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

main {
  position: relative;
}

.item-card {
  font-family: 'Raleway', sans-serif;
  transition: all .2s ease-in-out;
  width: 400px;
  height: 600px;
  background-color: rgba(16, 16, 16, 0.95);
  border: 2px solid whitesmoke;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.item-card:hover {
  transform: scale(1.05);
  border: 2px solid #27a844;
}

.item-card:hover .item-card-container-main-h1 {
  background: linear-gradient(90deg, #ffff00, #ffd000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 20px 24px;
}

.item-card-container-div-img {
  height: 330px;
}

.item-card-container-img {
  width: 100%;
}

.item-card-container-divider-line {
  transition: all .3s ease-in-out;
  width: 130px;
  height: 2px;
  background-color: whitesmoke;
}

.item-card:hover .item-card-container-divider-line {
  width: 100%;
  background-color: #27a844;
}

.item-card-container-main {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 130px;
}

.item-card-container-main-h1 {
  font-size: 26px;
  color: whitesmoke;
}

.item-card-container-main-h2 {
  font-size: 18px;
  color: whitesmoke;
}

.item-card-container-footer {
  height: 40px;
}

.item-card-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card-container-footer-btn {
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 8px 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #00c37a;
}

.item-card-container-footer-btn:hover {
  color: whitesmoke;
  background-color: #27a844;
}

.footer-divider {
  height: 164px;
}