h4.card-title {
  font-size: 1.2rem;
}

h5.card-title2 {
  font-size: 20px;
  font-style: italic;
  justify-content: center;
  font-family: cursive;
}

h5.mt-4 {
  font-size: 1rem;
  margin-top: 0!important;
}

.card.h-100 {
  transition: all .2s ease-in-out;
  width: 250px;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px -2px 20px -1px #13c7eb, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.card.h-100:hover .card-body, .card.h-100:hover {
  cursor: grab;
  box-shadow: 0px -2px 20px -1px #19da49f5, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.card.h-100:hover {
  transform: scale(1.05);
}

.card-body {
  box-shadow: 0px 5px 9px -2px #12d4ee, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  text-align: center;
  padding: 10px 10px 10px 10px!important;
}

.card-body i {
  padding-right: 5px;
}

.card-info {
  display: block;
  font-family: cursive;
}

img.card-img-top {
  height: 170px;
}

img.card-img-top {
  height: 170px;
}
 
.card-img-top {
  height: 200px;
}

.btn {
  margin-bottom: 10px;
}

button.btn {
  padding: 5px 20px;
}

.btn.btn-info {
  margin: 10px auto;
  display: block;
  width: 240px;
  margin-top: 0;
}

.btn.btn-join {
  background-color: #118b50;
  border-color: #118b50;
  color: white;
}

.actions {
  margin-top: 10px;
}

.btn.btn-warning {
  color: #fff;
}

.btn.btn-primary {
  background-color: #0578B9;
  border: none;
}

.btn.btn-primary:hover {
  background-color: #099cf1;
}

.ingredientsbuild {
  box-shadow: 0px -2px 20px -1px #7dff59, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: .25rem;
  padding-top: 5px;
  margin-bottom: 15px;
}

.no-ingredients {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.no-ingredients img {
  box-shadow: 0px -2px 20px -1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  width: 80%;
  height: auto;
  opacity: 0.95;
  margin-bottom: 10px;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.ingredientsbuild label:first-of-type {
  margin-right: 60px;
}

label, .container>h1 {
  color: white;
}

.gender label:hover, .gender input:hover {
  cursor: pointer;
}

.ingredientsbuild label:hover, .ingredientsbuild input:hover {
  cursor: pointer;
}

div.error {
  animation: fadeOut 1s forwards;
  animation-delay: 3s;
  position: fixed;
  right: 0;
  min-width: 350px;
  margin-top: 55px;
  margin-right: 20px;
  display: block;
  z-index: 11111;
}

.ingredient {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 100px;
  padding-bottom: 10px;
  color: white;
}

.ingredient p.lead {
  margin-bottom: 0px;
}

.details .container {
  padding: 2%;
}

section div.container.home {
  padding-top: 0;
}

div.container .register, div.container .login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

label, .container>h1 {
  color: white;
}

.container form {
  text-align: center;
}

section>div.container {
  padding-top: 40px;
}

.home h1, .home p {
  text-align: center;
  color: white;
}

.home p.lead {
  font-size: 24px;
  font-style: italic;
}

.line {
  box-shadow: 2px 0px 4px 1px #1eff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.line2 {
  box-shadow: 2px 0px 4px 1px #1eff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.leadpar {
  font-size: 24px;
  font-style: italic;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.ingredient p.lead {
  margin-bottom: 0px;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
} 

.row {
  justify-content: center;
  margin-top: 40px;
}