.details .container {
  padding: 2%;
}

section div.container.home {
  padding-top: 0;
}

div.container .register, div.container .login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

label, .container>h1 {
  color: white;
}

.container form {
  text-align: center;
}

section>div.container {
  padding-top: 40px;
}

.ingredient {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 100px;
  padding-bottom: 10px;
  color: white;
}

.ingredient p.lead {
  margin-bottom: 0px;
}

.home p.lead {
  font-size: 24px;
  font-style: italic;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.no-ingredients {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.no-ingredients img {
  box-shadow: 0px -2px 20px -1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  width: 80%;
  height: auto;
  opacity: 0.95;
  margin-bottom: 10px;
}