.details {
  color: white;
  border: 1px solid black;
}

.details .container {
  padding: 2%;
}

.details .item-details{
  display: flex;
  width: 100%;
  justify-content: center;
}

.item-details>div {
  width: 33%;
}

.item-details>div:nth-child(2) {
  text-align: center;
}

.details .item-info {
  text-align: center;
  width: 100%;
}

.details .brand {
  text-align: left;
}

.home h1, .home p {
  text-align: center;
  color: white;
}

.home p.lead {
  font-size: 24px;
  font-style: italic;
}

.leadpar {
  font-size: 24px;
  font-style: italic;
}

.edit-label, .offer-label {
  display: flex;
  justify-content: space-around;
}

.edit-input, .offer-input {
  display: flex;
  justify-content: space-between;
}

.edit>h1 {
  margin: 2%;
  text-align: center;
}

.edit textarea.form-control, .offer-trip textarea.form-control {
  width: 100%;
  height: 90px;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-container {
  box-shadow: 0px -2px 20px -1px #00ff0d, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  margin-top: 100px;
  color: white;
  width: 500px;
  border-top-left-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.profile-img {
  padding: 20px;
  border-radius: 50%;
  height: 250px;
}

.profile-info {
  display: block;
  width: 50%;
  margin-top: 100px;
  color: white;
  padding: 1em;
  box-shadow: 0px -2px 20px -1px #09ff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border-top-right-radius: 20px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.profile p>span {
  font-weight: bold;
}

h4.card-title {
  font-size: 1.2rem;
}

h5.card-title2 {
  font-size: 20px;
  font-style: italic;
  justify-content: center;
  font-family: cursive;
}

h5.mt-4 {
  font-size: 1rem;
  margin-top: 0!important;
}

.card.h-100 {
  transition: all .2s ease-in-out;
  width: 250px;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px -2px 20px -1px #13c7eb, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.card.h-100:hover .card-body, .card.h-100:hover {
  cursor: grab;
  box-shadow: 0px -2px 20px -1px #19da49f5, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.card.h-100:hover {
  transform: scale(1.05);
}

.card-body {
  box-shadow: 0px 5px 9px -2px #12d4ee, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  text-align: center;
  padding: 10px 10px 10px 10px!important;
}

.card-body i {
  padding-right: 5px;
}

.card-info {
  display: block;
  font-family: cursive;
}

.line {
  box-shadow: 2px 0px 4px 1px #1eff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.line2 {
  box-shadow: 2px 0px 4px 1px #1eff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

img.card-img-top {
  height: 170px;
}


.form-control-2 {
  text-align: center;
  display: block;
  width: 45%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.form-control-2, textarea.form-control, input.form-control, textarea:disabled {
  box-shadow: 0px -2px 20px -1px #7dff59, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  outline: none;
}

input.errorred {
  box-shadow: 0px -2px 20px -1px #ff0000, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}


.form-group p {
  color: #f8f9fa;
  /* // text-shadow: 1px 1px #007bff; */
  font-size: 20px;
  font-style: italic;
}

.login, .register {
  width: 40%!important;
}

.login input, .register input {
  text-align: center;
}

.login-page>h1, .register-page>h1, .offer-trip>h1 {
  margin: 2%;
  text-align: center;
}

input.form-control-2::placeholder, textarea.form-control::placeholder {
  color: rgb(167, 162, 162);
}

.gender {
  box-shadow: 0px -2px 20px -1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: .25rem;
  padding-top: 5px;
  margin-bottom: 15px;
}

.ingredientsbuild {
  box-shadow: 0px -2px 20px -1px #7dff59, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: .25rem;
  padding-top: 5px;
  margin-bottom: 15px;
}

.no-ingredients {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.no-ingredients img {
  box-shadow: 0px -2px 20px -1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  width: 80%;
  height: auto;
  opacity: 0.95;
  margin-bottom: 10px;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

textarea.form-control:focus, input.form-control:focus, input.form-control-2:focus {
  border: 1px solid #80bdff;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: none;
}




.details .icon {
  display: block;
  margin: 25px auto;
  max-width: 100px;
}



.gender label:first-of-type {
  margin-right: 60px;
}

.ingredientsbuild label:first-of-type {
  margin-right: 60px;
}



.gender label:hover, .gender input:hover {
  cursor: pointer;
}

.ingredientsbuild label:hover, .ingredientsbuild input:hover {
  cursor: pointer;
}

.car.logo {
  transform: rotate(-8deg);
}

.logo {
  width: 55px;
  height: 55px;
}

.ingredient {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 100px;
  padding-bottom: 10px;
  color: white;
}

.ingredient p.lead {
  margin-bottom: 0px;
}

.driver {
  font-weight: bold;
}

.form-group textarea {
  resize: none;
}

.container form {
  text-align: center;
}

.details h5 {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

.details h5 span {
  font-weight: bold;
}

i {
  color: #0578B9;
}


.card-img-top {
  height: 200px;
}

.jumbotron.my-4 {
  margin-top: 0!important;
}

section>div.container {
  padding-top: 40px;
}

.item-picanddesc {
  display: flex;
  border-radius: 5px;
  align-items: center;
  margin-top: 35px;
}

.item-picanddesc .img-fluid.rounded {
  max-width: 500px;
  transition: all .2s ease-in-out;
  box-shadow: 0px -2px 20px -1px #00bbff, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}
.img-fluid.rounded:hover {
  transform: scale(1.02);
  cursor: grab;
  box-shadow: 0px -2px 20px -1px #64ff86f5, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.item-picanddesc div:first-child {
  width: 80%;
  display: flex;
  justify-content: space-between
}

.item-desc {
  width: 55%!important;
  text-align: center;
  word-wrap: break-word;
  padding: 0%;
}

.item-desc textarea {
  box-shadow: 0px -2px 20px -1px #00bbff, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border-radius: 25px;
  height: 300px;
}
.item-desc > h5 {
  font-size: 22px;
}