.pizza-ingredients-main {
    font-family: 'Raleway', sans-serif;
    width: 1600px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(16, 16, 16, 0.9);
    border-radius: 8px;
    border: 2px solid whitesmoke;
    padding: 24px 100px 100px 100px;
}

.pizza-ingredients-page-container {
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px
}

.pizza-ingredients-page-container-header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
}

.pizza-ingredients-page-container-h1 {
    font-size: 36px;
    color: whitesmoke;
}

.pizza-ingredients-page-container-line {
    background-color: whitesmoke;
    height: 2px;
    width: 800px;
}

.pizza-ingredients-page-container-pizza-ingredients-list {
    font-size: 34px;
    color: whitesmoke;
    margin-bottom: 24px;
    font-weight: 600;
}

.pizza-ingredients-card-gallery {
    justify-content: center;
    align-items: center;
    /* width: 1600px; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 36px;
}