.details .container {
  padding: 2%;
}

section div.container.home {
  padding-top: 0;
}

div.container .register, div.container .login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

label, .container>h1 {
  color: white;
}

.container form {
  text-align: center;
}

section>div.container {
  padding-top: 40px;
}

footer {
  padding: 30px;
  position: absolute;
  width: 100%;
}