.details .container {
  padding: 2%;
}

section div.container.home {
  padding-top: 0;
}

div.container .register, div.container .login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

label, .container>h1 {
  color: white;
}

.container form {
  text-align: center;
}

section>div.container {
  padding-top: 40px;
}

.home h1, .home p {
  text-align: center;
  color: white;
}

.home p.lead {
  font-size: 24px;
  font-style: italic;
}

.line {
  box-shadow: 2px 0px 4px 1px #1eff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.line2 {
  box-shadow: 2px 0px 4px 1px #1eff00, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.leadpar {
  font-size: 24px;
  font-style: italic;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.ingredient p.lead {
  margin-bottom: 0px;
}

.no-ingredients p.lead {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
} 